<ion-header>
    <ion-toolbar color="favorite">
      <ion-buttons slot="start">
        
          <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>
        <ion-title>Etec</ion-title>
      </ion-buttons>
  
    </ion-toolbar>
  
  </ion-header>

<ion-content>

  
    <ion-item color="favorite" routerLink="/cursooferecido">
      <ion-label color="light">Cursos Oferecidos</ion-label>
    </ion-item>

    <ion-item color="favorite" routerLink="/cursotecnico">
      <ion-label color="light">Cursos Técnicos</ion-label>
    </ion-item>
</ion-content>
