<ion-header>
    <ion-toolbar color="favorite">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
    </ion-toolbar>
  
  </ion-header>

<ion-content>
  <ion-card>  <ion-title>Cursos Técnicos</ion-title><br>

      <b>As Escolas Técnicas Estaduais (Etecs) oferecem mais de 100 opções de cursos técnicos presenciais com duração média de 1200 horas, divididas em três semestres.

      O ingresso é feito mediante processo seletivo semestral (Vestibulinho). No momento da inscrição é preciso conferir quais os cursos oferecidos em cada unidade.</b>
    </ion-card>

      <br><br>

      <ion-card>
          <ion-card-header color="favorite">Cursos</ion-card-header> <br> 
          
          ADMINISTRAÇÃO                     <ion-label color="primary"></ion-label><br> 
          CONTABILIDADE         <ion-label color="primary"></ion-label><br> 
          INFORMATICA         <ion-label color="primary"></ion-label><br> 
          INFORMATICA PARA INTERNET              <ion-label color="primary"></ion-label><br> 
          LOGÍSTICA             <ion-label color="primary"></ion-label><br> 
          MARKETING                     <ion-label color="primary"></ion-label><br>  
          DESENVOLVIMENTO DE SISTEMAS <ion-label color="primary"></ion-label><br> 
        
          

        </ion-card><br>

</ion-content>
