<ion-header>
    <ion-toolbar color="favorite">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>        
      </ion-buttons>
  
    </ion-toolbar>
  
  </ion-header>

<ion-content>

  <ion-card>
    <ion-label color="dark"><h1><b>Administração</b></h1><br><br></ion-label>

<b>Diretora-Superintendente</b>
<br>
Laura Laganá<br><br>

<b>Vice-Diretora-Superintendente</b>
Emilena Lorenzon Bianco<br><br>

<b>Chefe de Gabinete da Superintendência</b>
Armando Natal Maurício, respondendo pelo expediente<br>
<br>

<b>Coordenadora da Pós-Graduação, Extensão e Pesquisa</b>
Helena Gemignani Peterossi<br><br>

<b>Coordenador de Ensino Superior de Graduação</b>
Rafael Ferreira Alves<br><br>

<b>Coordenador do Ensino Médio e Técnico</b>
<br>
Almério Melquíades de Araújo<br><br>

<b>Coordenadora de Formação Inicial e Educação Continuada</b>
<br>
Clara Maria de Souza Magalhães<br><br>

<b>Coordenador de Infraestrutura</b>
<br>
Hamilton Pacífico da Silva<br><br>

<b>Coordenadora de Gestão Administrativa e Financeira</b>
<br>
Ana Paula Garcia, respondendo pelo expediente<br><br>

<b>Coordenador de Recursos Humanos</b>
<br>
Elio Lourenço Bolzani<br><br>

<b>Coordenador da Assessoria de Inovação Tecnológica</b>
<br>
Mauro Zackiewicz<br><br>

<b>Coordenadora da Assessoria de Comunicação</b>
<br>
Gleise Santa Clara<br><br>
  </ion-card>

</ion-content>
