<ion-header>
    <ion-toolbar color="favorite">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Fale Conosco</ion-title>
  
    </ion-toolbar>
  
  </ion-header>
<ion-content>
    <ion-item color="favorite" routerLink="/contatos">
      <ion-label color="light">Contatos</ion-label>
    </ion-item>

    <ion-item color="favorite" routerLink="/sigaocps">
      <ion-label color="light">Siga o Centro Paula Souza</ion-label>
      </ion-item>


</ion-content>
