<ion-header>
    <ion-toolbar color="favorite">
      <ion-buttons slot="start">
        
          <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>
        <ion-title>Institucional</ion-title>
      </ion-buttons>
  
    </ion-toolbar>
  
  </ion-header>

<ion-content>

  
    <ion-item color="favorite" routerLink="/quemsomos">
      <ion-label color="light">Quem Somos</ion-label>
    </ion-item>

    <ion-item color="favorite" routerLink="/quemequem">
      <ion-label color="light">Quem é Quem</ion-label>
    </ion-item>
</ion-content>
