<ion-header>
    <ion-toolbar color="favorite">
      <ion-buttons slot="start">
        
          <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>
        
      </ion-buttons>
      <ion-title>Contatos</ion-title>
    </ion-toolbar>
  
  </ion-header>
<ion-content>
  <ion-card>
    <h3><b>Procure escolher o canal mais apropriado para sua necessidade</b></h3><br><br>
     

    <b>Informações sobre:</b>
    Etecs, Fatecs e cursos:
    www.cps.sp.gov.br
    <br><br>
    
    <b>Processos seletivos:</b>

    <b>Vestibulinho das Etecs – info@vestibulinhoetec.com.br</b> – (11) 3471-4071 (Capital e Região Metropolitana de São Paulo) e 0800-772 2829 (demais localidades)<br><br>
    
    <b>Vestibular das Fatecs – info@vestibularfatec.com.br</b> – (11) 3471-4103 (Capital e Região Metropolitana de São Paulo) e 0800-596 9696 (demais localidades)
    
    <b>Pós Graduação</b>
    <b>posgraduacao@cps.sp.gov.br</b> — (11) 3327-3109/3104
    
    Centro Paula Souza – Administração Central
    Rua dos Andradas, 140 – Santa Ifigênia
    01208-000 – São Paulo – SP
    PABX Tel.: (11) 3324-3300
    
    <b>Visitas monitoradas</b>
    As visitas monitoradas à sede do Centro Paula Souza (CPS) e à Etec Santa Ifigênia são realizadas apenas uma vez ao mês, sempre na primeira sexta-feira, e devem ser agendas previamente pelo e-mail visitas.monitoradas@cps.sp.gov.br.<br><br>
    
    É necessário fazer a solicitação com pelo menos 7 dias de antecedência para receber um modelo de carta de recomendação da Instituição de Ensino, que deverá ser encaminhada previamente ao CPS por e-mail. Esse mesmo documento original precisa ser apresentado no dia da visita.
    
    As visitas acontecem às 10 horas, com duração média de 40 minutos. As turmas devem ter no máximo 20 participantes. Quando houver um número maior, será dividida.
    
    
  </ion-card>
</ion-content>
