<ion-header>
    <ion-toolbar color="favorite">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
    </ion-toolbar>
  
  </ion-header>

<ion-content>
  <ion-card>
      <h1><b>Cursos oferecidos nas Etecs</b></h1>
      <br><br>
      O Centro Paula Souza (CPS) mantém 223 Escolas Técnicas Estaduais (Etecs), distribuídas por 165 municípios paulistas, e mais de duas centenas de classes descentralizadas – unidades que oferecem um ou mais cursos técnicos ou integrados sob a administração de uma Etec.<br><br>

      Estão matriculados nas Etecs cerca de 208 mil alunos nos Ensinos Técnico, Técnico integrado ao Médio e Médio. As unidades  mantêm 151 cursos técnicos (101 cursos técnicos presenciais, 6 cursos técnicos semipresenciais, 4 cursos técnicos online, 3 cursos técnicos na modalidade aberta, 31 cursos técnicos integrados ao Ensino Médio e 6 cursos técnicos integrados ao Ensino Médio na modalidade EJA).<br><br>

      Além do Ensino Médio regular, o candidato pode escolher outras modalidades oferecidas pelo Centro Paula Souza, como o Ensino Médio com Habilitação Técnica Profissional (com 17 cursos) e o Ensino Médio com Qualificação Profissional (com 3 mais opções).<br><br>

      Tem ainda a novidade implantada em 2019, a Articulação dos Ensinos Médio-Técnico e Superior (AMS), na qual o estudante poderá completar em cinco anos os Ensinos Médio, Técnico e superior Tecnológico – atualmente, são necessários seis anos.<br><br>

      Já a opção do Ensino Médio com ênfase em Linguagens, Ciências Humanas e Sociais permite ao estudante se aprofundar em áreas do conhecimento que vão ao encontro de seus interesses.<br><br>

      A cada processo seletivo (Vestibulinho) é preciso conferir quais os cursos oferecidos em cada unidade.
  </ion-card><br>

  

</ion-content>
