<ion-header>
    <ion-toolbar color="favorite">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>        
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  
  </ion-header>

<ion-content>

  <ion-card>
    <ion-label color="dark"><h1><b>Sobre o Centro Paula Souza</b></h1><br><br></ion-label>

    O Centro Paula Souza (CPS) é uma autarquia do Governo do Estado de São Paulo, vinculada à Secretaria de Desenvolvimento Econômico. Presente em aproximadamente 300 municípios, a instituição administra 223 Escolas Técnicas (Etecs) e 73 Faculdades de Tecnologia (Fatecs) estaduais, com 291 mil alunos em cursos técnicos de nível médio e superiores tecnológicos.<br><br>

    As Etecs atendem aproximadamente 208 mil estudantes nos Ensinos Técnico, Médio e Técnico Integrado ao Médio, com 151 cursos técnicos para os setores industrial, agropecuário e de serviços, incluindo habilitações nas modalidades presencial, semipresencial, online, Educação de Jovens e Adultos (EJA) e especialização técnica.  <br><br>

    Já as Fatecs superam a marca de 83 mil alunos matriculados em 77 cursos de graduação tecnológica, em diversas áreas, como Construção Civil, Mecânica, Informática, Tecnologia da Informação, Turismo, entre outras. Além da graduação, são oferecidos cursos de pós-graduação, atualização tecnológica e extensão.<br><br>

    <b>Histórico</b><br><br>
    A instituição foi criada pelo decreto-lei de 6 de outubro de 1969, na gestão do governador Roberto Costa de Abreu Sodré (1967 – 1971), como resultado de um grupo de trabalho para avaliar a viabilidade de implantação gradativa de uma rede de cursos superiores de tecnologia com duração de dois e três anos.<br><br>
    Em 1970, começou a operar com o nome de Centro Estadual de Educação Tecnológica de São Paulo (CEET), com três cursos na área de Construção Civil (Movimento de Terra e Pavimentação, Construção de Obras Hidráulicas e Construção de Edifícios) e dois na área de Mecânica (Desenhista Projetista e Oficinas). Era o início das Faculdades de Tecnologia do Estado. As duas primeiras foram instaladas nos municípios de Sorocaba e São Paulo.<br><br>

    A trajetória do Centro Paula Souza vai além de seus 50 anos de fundação. Sua memória mistura-se com a história centenária do ensino profissional público em São Paulo. Em 1969, o órgão nasceu com a missão de organizar os primeiros cursos superiores de tecnologia, mas no decorrer das décadas, acabou englobando também a educação profissional do estado em nível médio, absorvendo unidades já existentes e construindo novas Etecs e Fatecs para expandir o ensino profissional a todas as regiões do Estado.<br><br>

    <b>Quem foi Paula Souza</b><br><br>
    Nascido em uma família de estadistas, no município paulista de Itu, o engenheiro e professor Antonio Francisco de Paula Souza (1843 – 1917) posicionava-se como um liberal, a favor da república e do fim da escravatura. Estudou engenharia na Alemanha e na Suíça. Fundou a Escola Politécnica da Universidade de São Paulo (Poli-USP) e trabalhou diretamente no desenvolvimento da infraestrutura do País, projetando obras e estradas de ferro. Na política, atuou como deputado, presidente da câmara estadual e ministro das Relações Exteriores e da Agricultura no mandato do presidente Floriano Peixoto (1891 – 1894).<br><br>
   
    Paula Souza era reconhecidamente um homem à frente de seu tempo e caracterizou-se como um educador que sempre defendeu o papel da escola como meio de formação de profissionais e não somente um local para discussões acadêmicas. Mais de 40 anos após sua morte, os princípios idealizados por Paula Souza começaram se concretizar com a criação do Centro Estadual de Educação Tecnológica de São Paulo, em 6 de outubro de 1969, que posteriormente foi rebatizado como Centro Paula Souza, em homenagem ao professor.<br><br>
    <img src="https://www.cps.sp.gov.br/wp-content/uploads/sites/1/2016/12/antonio-francisco-de-paula-souza.jpg">
  </ion-card>

</ion-content>
