<ion-header>
  <ion-toolbar color="favorite2">
    <ion-title></ion-title>
    <ion-back-button color="favorite3"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="favorite2">
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
         <h3><ion-label color="favorite3">Siga o Centro Paula Souza</ion-label></h3>
        </ion-card-header>
        <ion-card-content>
                <h1><ion-icon name="logo-twitter" color="favorite3"></ion-icon></h1>
                <ion-label color="favorite3">https://twitter.com/paulasouzasp</ion-label><br>

                 <h1><ion-icon name="logo-facebook" color="favorite3"></ion-icon></h1>
                 <ion-label  color="favorite3">https://www.facebook.com/centropaulasouza/</ion-label><br>

                 <h1><ion-icon name="logo-instagram" color="favorite3"></ion-icon></h1>
                 <ion-label  color="favorite3">https://www.instagram.com/centropaulasouza/</ion-label><br>

                 <h1><ion-icon name="logo-whatsapp" color="favorite3"></ion-icon></h1>
                 <ion-label  color="favorite3">Número: (11) 98758-8256<br>
                    Horário: de segunda a sexta-feira, das 9 às 18 horas<br>
                    OBS: Esse número aceita apenas mensagens via WhatsApp e não recebe ligações.</ion-label><br>

        </ion-card-content>
      </ion-card>
</ion-content>
