<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>


  <ion-card routerLink="/calendario">
      <ion-button color="favorite" expand="full">
          <ion-icon name="create"></ion-icon> &nbsp;
          <ion-label><b>Vestibulinho Etec</b></ion-label> 
      </ion-button>
  </ion-card>

  <ion-card routerLink="/calendario2">
    <ion-button color="favorite" expand="full">
        <ion-icon name="today"></ion-icon> &nbsp;
        <ion-label><b>Vestibular Fatec</b></ion-label> 
    </ion-button>
</ion-card>


  <ion-button routerLink="/vejamaisnoticias" color="favorite" expand="full">
      <ion-label>Veja mais Noticias</ion-label> 
      <ion-icon slot="end" name="add-circle"></ion-icon> 
  </ion-button><br>

</ion-content>
