<ion-header>
    <ion-toolbar color="favorite">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
  
    </ion-toolbar>
  
  </ion-header>
  
  <ion-content>
  <ion-card>
    <div *ngFor="let itemDaLista of noticias" [routerLink]="itemDaLista.pagina">
      <div>
        <h3>{{itemDaLista.titulo}}</h3>
      </div>
      <div>
          <p>{{itemDaLista.data}}</p>
        </div>
        <img [src]="itemDaLista.img"/>
      <p>{{itemDaLista.texto}}</p>
    </div>
  </ion-card>
  </ion-content>